/* Anime list headers */
table[class^="header_"] {
	display: block;
	width: 100%;
	margin-top: 80px;
	margin-bottom: 20px;
	text-align: left;

	td {
		font-size: 45px;
		line-height: 1;
		font-weight: 300;
	}
}