%button {
	display: inline-block;
	position: relative;
	min-width: $card-content-height - $card-padding;
	height: 36px;
	line-height: 36px;
	margin: 0;
	padding: 0 14px;
	border: 0;
	border-radius: 2px;
	vertical-align: middle;
	background: transparent;
	color: $color-secondary;
	font-family: inherit;
	font-size: 14px;
	font-weight: 500;
	text-transform: uppercase;
	letter-spacing: 0;
	overflow: hidden;
	cursor: pointer;
	text-decoration: none;
	text-align: center;
	transition: background 0.2s $animation-curve-default;

	&:hover, &:focus {
		background: rgba(158, 158, 158, 0.2);
	}
}
%button-primary {
	@extend %button;

	background: $color-primary;
	color: #fff;

	&:hover, &:focus {
		background: darken($color-primary, 10%);
	}
}